<section class="footer">
    <h3>Informações</h3>

    <div class="menu">
        <div class="item">
            <button onclick="window.open('https://maps.app.goo.gl/bzwzCPo7FLfLqZzs9')" aria-label="Local">
                📍
            </button>
            <p>Espaço Maná - Tatui</p>
        </div>

        <div class="item">
            <button onclick="window.location.href='{% url 'pix_contribution' %}'" aria-label="Presentes">
                🎁
            </button>
            <p>Presentes</p>
        </div>

        <div class="item">
            <button onclick="window.open('https://calendar.google.com/calendar/render?action=TEMPLATE&text=Casamento%20Carine%20%26%20Gerson&dates=20261121T000000Z/20261122T000000Z&details=Dia%20do%20casamento%20de%20Carine%20e%20Gerson.&location=Espa%C3%A7o%20Man%C3%A1%20-%20Tatu%C3%AD')" aria-label="Data">
                🗓️
            </button>
            <p>21•11•2026</p>
        </div>
    </div>
</section>