SECRET_KEY=troque-por-uma-chave-forte
DEBUG=False
ALLOWED_HOSTS=meudominio.com,www.meudominio.com
CSRF_TRUSTED_ORIGINS=https://meudominio.com,https://www.meudominio.com
DB_NAME=nome-db
DB_USER=nome-user
DB_PASSWORD=troque-esta-senha
DB_HOST=db
DB_PORT=5432
